a {
  font-weight: bold;
}

.nav-stacked > li + li {
  margin-top: 0px;
  /*margin-left: 0;*/
}

.nav-pills > li > a {
  border-radius: 2px;
}

#pageContent {
  font: Georgia;
}

img {
  height: auto;
  max-width: 100%;
}
