a {
  font-weight: bold;
}

.nav-stacked > li + li {
  margin-top: 0px;
  /*margin-left: 0;*/
}

.nav-pills > li > a {
  border-radius: 2px;
  font-size: 16px;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
}

@media (max-width: 1000px) {
  .nav-pills > li > a {
    font-size: 4vw;
  }
  .nav-pills > li {
    font-size: 4vw;
  }
  h5 > a {
    font-size: 4vw;
  }
  #pageContent {
    font-size: 4vw;
  }
}

#pageContent {
  font: Georgia;
}

img {
  height: auto;
  max-width: 100%;
}
